@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    background-color: hsl(30, 54%, 90%);
}

.card-title{
    font-family: 'Young Serif', serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}
.card-body, th{
    font-family: 'Outfit', sans-serif !important;
    font-size:85%;
    color: hsl(30, 10%, 34%) !important;
}
.prepTimeContainer{
    background-color: hsl(330, 100%, 98%);
}

.sectionHeader, li::marker, .customTd{
    color: hsl(14, 45%, 36%) !important;
}

.prepTime{
    font-size: 1.2rem;
}
.prepTime, .prepList li::marker{
    color: hsl(332, 51%, 32%) !important;
}

ol>li::marker, .customTd{
    font-weight: bold;
}

ul>li::marker{
    font-size:0.5rem;
}
ol { 
    padding-left:0; 
    list-style-position:inside; 
}

th{
    font-weight: 400;
}

@media (max-width:600px) {
    .card{
        border-radius: 0;
        position:absolute;
        top:0;
        left:0;
        width: 100vw;
    }
}

@media (min-width:1200px) {
    .card-title{
        font-size: 3rem;
    }
    .card-body, th, .prepTime{
        font-size: 1.5rem;
    }
    ul>li::marker{
        font-size:1rem;
    }
}