@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    background-color: hsl(30, 54%, 90%);
}

.foodImg, .card{
    border-radius: 15px;
}

.prepTimeContainer{
    background-color: hsl(330, 100%, 98%);
}

.prepTime{
    color: hsl(332, 51%, 32%);
}

.sectionHeader{
    color: hsl(14, 45%, 36%);
}

div {
    padding: 2% 2%;
}
@media (max-width:768px) {
    .card{
        position:absolute;
        top:0;
        left:0;
        width: 100vw;
    }
}