@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    background-color: hsl(30, 54%, 90%);
}

.card-title{
    font-family: 'Young';
    font-weight: 800;
    color: hsl(24, 5%, 18%);
}
.card-body{
    font-family: 'Outfit';
    font-size:80%;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.prepTimeContainer{
    background-color: hsl(330, 100%, 98%);
}

.prepTime{
    color: hsl(332, 51%, 32%);
}

.sectionHeader, li::marker{
    color: hsl(14, 45%, 36%);
}

li::marker{
    font-weight: bold;
}

@media (max-width:800px) {
    .card{
        border-radius: 0;
        position:absolute;
        top:0;
        left:0;
        width: 100vw;
    }
}